chart&collect.json
[
    {
        "id": "b27a6ff3ac0a9e4b",
        "type": "tab",
        "label": "GHDashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "afec7a25aff32dfb",
        "type": "mqtt in",
        "z": "b27a6ff3ac0a9e4b",
        "name": "MQTT → greenhouse/monitor/data",
        "topic": "greenhouse/monitor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3b9b3e3e8aa9de74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "94f69b7c10912636",
                "2ab06a4950ac8507"
            ]
        ]
    },
    {
        "id": "94f69b7c10912636",
        "type": "change",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "39dc56027757f947"
            ]
        ]
    },
    {
        "id": "2ab06a4950ac8507",
        "type": "change",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "6415827a64149b44"
            ]
        ]
    },
    {
        "id": "39dc56027757f947",
        "type": "ui_chart",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Temperature",
        "group": "cb19b3a2641a4b67",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM:SS",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "23",
        "ymax": "26",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6415827a64149b44",
        "type": "ui_chart",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Humidity",
        "group": "f37bd6bca1e712e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM:SS",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "40",
        "ymax": "65",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3a0f7b69ed58b4e4",
        "type": "mqtt in",
        "z": "b27a6ff3ac0a9e4b",
        "name": "MQTT → greenhouse/monitor/data",
        "topic": "greenhouse/monitor/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "3b9b3e3e8aa9de74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "5e0662047da51c4b"
            ]
        ]
    },
    {
        "id": "5e0662047da51c4b",
        "type": "function",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Ensure JSON + Timestamp",
        "func": "// Parse JSON if needed and add timestamp\ntry {\n    if (typeof msg.payload === 'string') {\n        msg.payload = JSON.parse(msg.payload);\n    }\n    msg.payload.timestamp = new Date().toISOString();\n    return msg;\n} catch (err) {\n    node.warn('Bad JSON: ' + err.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "dcadd679c2a17464",
                "7c2cdfd887cb2467"
            ]
        ]
    },
    {
        "id": "dcadd679c2a17464",
        "type": "file",
        "z": "b27a6ff3ac0a9e4b",
        "name": "Write → /data/greenhouse_data.json",
        "filename": "/data/greenhouse_data.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 830,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7c2cdfd887cb2467",
        "type": "debug",
        "z": "b27a6ff3ac0a9e4b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b9b3e3e8aa9de74",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "cb19b3a2641a4b67",
        "type": "ui_group",
        "name": "Temperature Monitor",
        "tab": "b9b9c5e1d9e51d7a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f37bd6bca1e712e2",
        "type": "ui_group",
        "name": "Humidity Monitor",
        "tab": "b9b9c5e1d9e51d7a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9b9c5e1d9e51d7a",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fdbe026a9bad3d79",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]